@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*   font-family: "Montserrat", sans-serif; */
  /*   font-family: "Poppins", sans-serif; */
  font-family: "Beaufort for LOL", serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container__card {
  width: 150px;
  height: 150px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}

.container__card-img {
  width: 100%;
}

.container__card.alive {
  box-shadow: 0 0 15px 5px rgba(0, 255, 0, 1);
}

.container__card.dead {
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 1);
}

.container__card.unknown {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 1);
}

.popup-container.hidden {
  display: none;
}

.popup__card-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100vh;
}

.card {
  width: 600px;
  background-color: #ffffffd9;
  display: flex;
  margin: 0.25rem;
  /*   border: 1.5px solid; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__left-img {
  height: 125px;
}

.card__right {
  font-size: 0.5rem;
  display: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.card__right > * {
  display: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: 25%;
}

.name-close {
  display: flex;
  justify-content: space-between;
}

.card__right-name {
  text-align: center;
  text-decoration: underline;
}

.close {
}

.card__right-gender {
  padding-left: 1rem;
}

.card__right-location {
  padding-left: 1rem;
}

.card__right-status {
  text-align: center;
}

.card__right-status.alive {
  background-color: rgb(0, 100, 0);
  color: rgb(0, 255, 40);
}

.card__right-status.dead {
  background-color: rgb(100, 0, 0);
  color: rgb(255, 0, 20);
}

.card__right-status.unknown {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}
