@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*   font-family: "Montserrat", sans-serif; */
/*   font-family: "Poppins", sans-serif; */
  font-family: "Beaufort for LOL", serif;
}
